.wrap{
  width: 100%;
  position: relative;
  &:after{
    @include cf;    
  }
}
.hero{
  width: 100%;
  &:after{
    @include cf;    
  }
  img{
    width: 50%;
    float: left;
    display: block;
  }
  &__slider{
    width: 50%;
    float: left;
    overflow: hidden;
    img{
      width: 100%;
      animation: zoomIn 30s ease infinite alternate;
    }
  }
}

/*menu*/
.menu{
    height: 20px;
    position: fixed;
    right: 8vw;
    top: 10vh;
    width: 30px;
    z-index: 9999;
}
.menu__line{
    background: #fff;
    display: block;
    height: 2px;
    position: absolute;
    transition:transform .3s;
    width: 100%;
}
.menu__line--center{
    top: 9px;
}
.menu__line--bottom{
    bottom: 0;
}
.menu__line--top.active{
    top: 8px;
    transform: rotate(45deg);
}
.menu__line--center.active{
    transform:scaleX(0);
}
.menu__line--bottom.active{
    bottom: 10px;
    transform: rotate(135deg);
}
/*gnav*/
.gnav{
    background: rgba(0,0,0,0.9);
    display: none;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index:98;
}
.gnav__wrap{
    align-items:center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
}
.gnav__menu__item{
    margin: 40px 0;
  text-transform: uppercase;
}
.gnav__menu__item a{
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    padding: 40px;
    text-decoration: none;
    transition: .5s;
}
.gnav__menu__item a:hover{
    color: #666;
}